* {
  box-sizing: border-box;
}

body {
  max-width: 90%;
  margin: auto;
}

h1 {
  text-align: center;
}

#search {
  display: block;
  margin: auto;
  margin-bottom: 4%;
  margin-top: 6%;
  border-radius: 5%;
  height: 2rem;
  width: 300px;
  border-color: lightgrey; 
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo {
  margin: 30px;
}

@media(max-width: 320px) {
  h1 {
   font-size: 1.5rem;
  }

  #search {
    width: 200px;
    margin-top: 10%;
    margin-bottom:10%;
  }
}

@media(max-width: 768px){
    /* img {
      margin: 50px;
  } */
}
